# Build and Release Folder<HTML>
<HEAD>
<link rel="shorcut icon" type="image/x-icon" ‪C:\Users\die_x\Documents\fotos\WhatsApp Image 2023-06-02 at 17.09.17 (1).jpeg">
<meta name="description" content="Esta es creada con fines eduactivos">
<meta name="keyword" content="Futbol, Tachos, Lo mejor para los mejores">
<title>Goat Football </title>
</head>
<!--Saludos a todos-->
<BODY>
<h1><center><body bgcolor="#EAE85F" text="white"><img src="C:\Users\die_x\Documents\fotos\WhatsApp-Image-2023-06-02-at-17.09.17-_1_.jpg"" alt="logo de la tienda" title="logo de Goat Football" hight="200" width="300">
<p>La tienda numero 1 del mundo</center></h1></p>
<center><table width="950"><tr><td>

<h1><center><p><font color="green" face="arial">Bienvenidos a la mejor tienda de calzado deportivo</p></h1></center>
<p><center><img src="C:\Users\die_x\Documents\fotos\FASTISINTHEAIR0905SUBHERO-640x640.jpg" alt="Kylian Mbappé" title="Kylian Mbappé" hight="500" width="400"></center></p>
<p><center><img src="C:\Users\die_x\Documents\fotos\https___s3-images.sportbible.com_s3_content_a99202925a3b160e4351d0c8d15cb72c.jpg" alt="Ronaldo Nazario y Neymar JR" title="Ronaldo Nazario y Neymar JR" hight="500" width="400"></center></p>
<center><p><br>Tienda 100% mexicana, dedicada a la venta de calzado deportivo de futbol.</p>
<p>Manejamos la más alta calidad en el mercado y las mejores marcas que calzan los profesionales del Futbol.</p>
</br></center></font>

<p><center><A HREF="C:\Users\die_x\Downloads\libros de estudio\Pagina HTML\goat.html" title="Presionar para ver el cátalogo">Catálogo</a></center></p>

<p><center><A HREF="C:\Users\die_x\Downloads\libros de estudio\Pagina HTML\ubicación.HTML" title="Presionar para ver la ubicación de la tienda">Ubicación de la tienda</a></center></p>

<p><center><A HREF="C:\Users\die_x\Downloads\libros de estudio\Pagina HTML\Redes.HTML" title="Presionar para ver las redes sociales">Redes sociales</a></center></p>

</BODY>
</HTML>
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
